package ${package}.common;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public enum  ${className}Map {

    #foreach ($column in $columns)

        /**
        * $column.comments
        */
        $column.ATTR_NAME ("${column.columnName}"),
    #end
    ;

    String value;

    ${className}Map(String value) {
        this.value = value;
    }

    public String getValue() {
        return value;
    }

    }
