package ${package}.${moduleName}.dao;

import ${package}.${moduleName}.dao.${className}Dao;
import ${package}.${moduleName}.module.${className}Entity;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;


public class ${className}Mapper extends ServiceImpl<${className}Dao,${className}Entity>{

}


