package ${package}.module.param;

import lombok.Data;
import lombok.EqualsAndHashCode;


/**
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@EqualsAndHashCode(callSuper = false)
@Data
public  class  ${className}Param{

}