package ${package.Controller};

import com.aperture.community.common.standard.response.ResultBean;
import org.springframework.stereotype.Service;
import org.springframework.web.bind.annotation.*;

import javax.validation.Valid;

@RestController
public class  ${table.controllerName} {

    @DeleteMapping
    public ResultBean<Boolean> delete(Long id) {
        return null;
    }

    @GetMapping
    public ResultBean<${table.entityName}VO> search(@RequestBody @Valid ${table.entityName}Param) {
        return null;
    }

    @PostMapping
    public ResultBean<Integer> save(@RequestBody @Valid ${table.entityName}Param) {
        return null;
    }

    @PutMapping
    public ResultBean<Boolean> update(@RequestBody @Valid ${table.entityName}Param) {
        return null;
    }

}