package ${package.Service};

import org.springframework.stereotype.Service;

@Service
public interface  ${table.serviceName}{

 ${table.entityName}VO select(${table.entityName}Param ${table.entityName}Param);

 boolean delete(Long id);

 List<${table.entityName}VO> listPage(PageParam pageParam);

 boolean update(${table.entityName}Param ${table.entityName}Param);

 boolean save(${table.entityName}Param ${table.entityName}Param);

}