<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aperture.community.acl.mapper.ScsPermissionMapper">

    <!-- 用于select查询公用抽取的列 -->


    <!-- 系统管理员获取到所有权限值 -->
    <select id="selectAllPermissionValue" resultType="String">
        select permission_value
        from scs_permission
        where type = 2 and status = 1
    </select>

    <select id="selectPermissionValueByUserId" resultType="String">
        select p.permission_value
        from scs_user_role_relation ur
        inner join scs_role_permission rp on rp.role_id = ur.role_id
        INNER JOIN scs_permission p on p.id = rp.permission_id
        where ur.user_id = #{userId}
        and p.type = 2
        and ur.status = 1
        and rp.status = 1
        and p.status = 1
    </select>

    <resultMap id="permissionMap" type="com.aperture.community.acl.entity.ScsPermission">
        <result property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="permissionValue" column="permission_value"/>
        <result property="detail" column="detail"/>
        <result property="description" column="description"/>
        <result property="path" column="path"/>
        <result property="icon" column="icon"/>
        <result property="status" column="status"/>
        <result property="component" column="component"/>
        <result property="level" column="level"/>
        <result property="gmt_create" column="gmt_create"/>
        <result property="gmt_modified" column="gmt_modified"/>
    </resultMap>

    <sql id="columns">
        p.id,p.pid,p.name,p.type,p.permission_value, p.detail, p.description, p.path, p.icon, p.status, p.component,p.level,p.gmt_create,p.gmt_modified
    </sql>

    <select id="selectPermissionByUserId" resultType="permissionMap">
        select
        <include refid="columns"/>
        from scs_user_role_relation ur
        inner join scs_role_permission rp on ur.role_id = rp.role_id
        inner join scs_permission p on p.id = rp.permission_id
        where ur.user_id = #{userId}
        and ur.status = 1
        and rp.status = 1
        and p.status = 1

    </select>


</mapper>