package ${package}.${moduleName}.common

/**
 * ${className}对象的字段映射
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */

public enum ${className}Map {

    #foreach ($column in $columns)
        $column.ATTR_NAME ("$column.columnName"),
    #end
    ;
    String value;

    public ${className}Map(String value) {
        this.value = value;
    }

    public String getValue() {
        return value;
    }


}