package ${package}.${moduleName}.dao;

import org.springframework.stereotype.Service;

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.dao.${className}Dao
import org.apache.ibatis.annotations.Mapper;

/**
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service
public class ${className}Mapper extends IService<${className}Dao,${className}Entity> {

}
