package ${package.Service};

import org.springframework.stereotype.Service;

@Service
public interface  ${table.serviceName}{

public ${table.entityName}VO select(${table.entityName}Param ${table.entityName}Param);

public boolean delete(Long id);

public List<${table.entityName}VO> listPage(PageParam pageParam);

public boolean update(${table.entityName}Param ${table.entityName}Param);

public boolean save(${table.entiryName}Param ${table.entityName}Param);


        }